<div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    
    <div class="carousel-item active">
      <div class="container">
      	<p style="text-align:center;">
      	  <img [src]="fullImagePath1" alt="First slide" class="center" width="65%" height="65%"></p>
      </div>
 	</div>
  </div>
</div>
<div><button (click)="goToDashboard()">click me</button></div>
<div class="container">
	<div class="card-block">
	<table>
		<tr><td width="40%">
	<div>
        <div class="text-content">
            <h3>What is serverless architecture?</h3>
            <p>Serverless Computing is an event-driven application design and deployment paradigm in which computing resources are provided as scalable cloud services. In traditional application deployments, the server's computing resources represent fixed and recurring costs, regardless of the amount of computing work that is actually being performed by the server. In a server-less computing deployment, the cloud customer only pays for service usage; there is never any cost associated with idle, down-time.</p>

            
        </div> 
    </div></td><td width="60%">
  	<p style="text-align:center;">
      	 <img [src]="fullImagePath" alt="First slide" class="center" width="65%" height="65%"></p>
   </td></tr>
	</table>
	<div class="text-content">
		These are some of the key benefits of building a serverless data pipeline:
		<ol>
			<li>
		SCALE:

		One of the key benefits of going serverless is the flexibility to scale and grow. The cloud gives all businesses, big and small, the ability to use what they need and scale without worrying about complex and time-consuming data migrations. This unlimited room for growth also means that you should choose your cloud provider carefully – just as with your bank account, you’re likely to stick with it for years to come. </li>
		<li>
		COST:

		The rising costs of in house developers and DevOps to manage data processes has become a bottleneck for many companies trying to modernize and automate their data processes. A serverless data pipeline removes most of this bottlenecks, specially when it comes to updating and maintaining the the database.</li>
		<li>
		SIMPLICITY:

		In the words of Leonardo Da Vinci, simplicity is the ultimate sophistication.All your data can be aligned and managed efficiently in your cloud. Whether you use Google, AWS, Azure Data Warehouse or Snowflake – once all your data sources are hosted in a single space in the cloud you can forget about data siloes or disjointed insights from different teams that are not aligned.</li>
		<li>
		CONTROL:

		Maintaining a data pipeline can be costly and time-consuming, especially when it isn’t automated or hosted in the cloud. This ongoing monitoring process can become a burden, especially when new data sources need to be added and aligned with the rest of the database. A serverless data pipeline will give you the freedom to focus on insights with the peace of mind that your optimal data pipeline is taken care of and maintained to the highest standard.</li>
		</ol>
	</div>
	</div>
</div>
