<div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    
    <div class="carousel-item active">
      <div class="container">
      	<p style="text-align:center;">
      	  <img [src]="fullImagePath" alt="First slide" class="center" width="65%" height="65%"></p>
      </div>
 	</div>
  </div>
</div>
<div class="container">
	<div class="card-block">
	<table>
		<tr><td width="30%">
	<div>
        <div class="text-content">
            <h3>What is serverless architecture?</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing esed diam nonummy nibh euismod
                tincidunt ut laoreet dolore magna aliquam erat volutpat. Utia wisi enim ad minim
                veniam, quis nostrud exerci tation ullamcxkei pilobortis nisl ut aliquip ex ea
                commodo consequatm vel eum iriure dolor in hendrerit in vulputate velit esse
                molestie consequat.</p>

            <p>Nam dignissim auctor suscipit. In sit amet lacinia erat, non congue nunce. Sed lacinia
               tristique egestas. Nunc vitae leo eu lacus sollicitudin laciniaes.Veistibulum
               congue vestibiulum diam nec eleifend Nulla coinvallis dui aid</p>
        </div> 
    </div></td><td width="70%">
  	<p style="text-align:center;">
      	 <img [src]="fullImagePath" alt="First slide" class="center" width="65%" height="65%"></p>
   </td></tr>
	</table>
	</div>
</div>
