<div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    
    <div class="carousel-item active">
      <div class="container">
      	<p style="text-align:center;">
      	  <img [src]="fullImagePath1" alt="First slide" class="center" width="65%" height="65%"></p>
      </div>
 	</div>
  </div>
</div>
<div class="container">
	<div class="card-block">
	<table>
		<tr><td width="40%">
	<div>
        <div class="text-content">
            <h3>What is big data analytics?</h3>
            <p>Big data analytics is the process of examining large and varied data sets -- i.e., big data -- to uncover hidden patterns, unknown correlations, market trends, customer preferences and other useful information that can help organizations make more-informed business decisions..</p>

            
        </div> 
    </div></td><td width="60%">
  	<p style="text-align:center;">
      	 <img [src]="fullImagePath" alt="First slide" class="center" width="65%" height="65%"></p>
   </td></tr>
	</table>
	<div class="text-content">
		<p>
			Big data analytics applications enable data scientists, predictive modelers, statisticians and other analytics professionals to analyze growing volumes of structured transaction data, plus other forms of data that are often left untapped by conventional business intelligence (BI) and analytics programs. 
		</p>
		<p>
			On a broad scale, data analytics technologies and techniques provide a means of analyzing data sets and drawing conclusions about them to help organizations make informed business decisions. BI queries answer basic questions about business operations and performance. Big data analytics is a form of advanced analytics, which involves complex applications with elements such as predictive models, statistical algorithms and what-if analyses powered by high-performance analytics systems.
		</p>
		Big data can be described by the following characteristics:
			<ol>
			<li>
			Volume
			The quantity of generated and stored data. The size of the data determines the value and potential insight, and whether it can be considered big data or not.</li>
			<li>
			Variety
			The type and nature of the data. This helps people who analyze it to effectively use the resulting insight. Big data draws from text, images, audio, video; plus it completes missing pieces through data fusion.</li>
			<li>
			Velocity
			In this context, the speed at which the data is generated and processed to meet the demands and challenges that lie in the path of growth and development. Big data is often available in real-time.</li>
			<li>
			Veracity
			The data quality of captured data can vary greatly, affecting the accurate analysis</li>
			</ol>	
		
	</div>
	</div>
</div>
