<div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    
    <div class="carousel-item active">
      <div class="container">
      	<p style="text-align:center;">
      	  <img [src]="fullImagePath1" alt="First slide" class="center" width="65%" height="65%"></p>
      </div>
 	</div>
  </div>
</div>
<div class="container">
	<div class="card-block">
	<table>
		<tr><td width="40%">
	<div>
        <div class="text-content">
            <h3>What is Blockchain Technology?</h3>
            <p>A blockchain is a digitized, decentralized, public ledger of all cryptocurrency transactions. Constantly growing as ‘completed’ blocks (the most recent transactions) are recorded and added to it in chronological order, it allows market participants to keep track of digital currency transactions without central recordkeeping. Each node (a computer connected to the network) gets a copy of the blockchain, which is downloaded automatically.</p>
            <p>
            	Originally developed as the accounting method for the virtual currency Bitcoin, blockchains – which use what's known as distributed ledger technology (DLT) – are appearing in a variety of commercial applications today. Currently, the technology is primarily used to verify transactions, within digital currencies though it is possible to digitize, code and insert practically any document into the blockchain. Doing so creates an indelible record that cannot be changed; furthermore, the record’s authenticity can be verified by the entire community using the blockchain instead of a single centralized authority.</p>
		</div> 
    </div></td><td width="60%">
  	<p style="text-align:center;">
      	 <img [src]="fullImagePath" alt="First slide" class="center" width="65%" height="65%"></p>
   </td></tr>
	</table>
	</div>
</div>
